<% include header %>

  <div id="pagewrap">
    <div id="header">
      <form action="/search/" method="post">
        <input type="search" autofocus="autofocus" name="query" id="query">
        <div class="regver">Registry version: <%= registryVersion %></div>
      </form>
    </div>

    <div id="innerwrap">
      <div id="content">



      </div> <!-- content end -->

<% include footer %>
